@model BankManagementSystem.Models.ApplicationUser

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var accountIdFormat = String.Format("R-{0:000}", Model.BankAccountId);
}

<h3>Detail</h3>
<hr />
<div class="container">
    <dl>
        <div class="row mb-2">
            <dt class="col-md-2">@Html.DisplayNameFor(m => m.BankAccountId)</dt>
            <dd class="col-md-4">@accountIdFormat</dd>
            <dt class="col-md-2">@Html.DisplayNameFor(m => m.CitizenStatus)</dt>
            <dd class="col-md-4">@Html.DisplayFor(m => m.CitizenStatus)</dd>
        </div>
        <div class="row mb-2">
            <dt class="col-md-2">@Html.DisplayNameFor(m => m.FullName)</dt>
            <dd class="col-md-4">@Html.DisplayFor(m => m.FullName)</dd>
            <dt class="col-md-2">@Html.DisplayNameFor(m => m.PhoneNumber)</dt>
            <dd class="col-md-2">@Html.DisplayFor(m => m.PhoneNumber)</dd>
        </div>
        <div class="row mb-2">
            <dt class="col-md-2">@Html.DisplayNameFor(m => m.Email)</dt>
            <dd class="col-md-4">@Html.DisplayFor(m => m.Email)</dd>
            <dt class="col-md-2">@Html.DisplayNameFor(m => m.Gender)</dt>
            <dd class="col-md-2">@Html.DisplayFor(m => m.Gender)</dd>
        </div>
        <div class="row mb-2">
            <dt class="col-md-2">@Html.DisplayNameFor(m => m.Address)</dt>
            <dd class="col-md-4">@Html.DisplayFor(m => m.Address)</dd>
            <dt class="col-md-2">@Html.DisplayNameFor(m => m.State)</dt>
            <dd class="col-md-2">@Html.DisplayFor(m => m.State)</dd>
        </div>
        <div class="row mb-2">
            <dt class="col-md-2">@Html.DisplayNameFor(m => m.PhoneNumber)</dt>
            <dd class="col-md-4">@Html.DisplayFor(m => m.PhoneNumber)</dd>
            <dt class="col-md-2">@Html.DisplayNameFor(m => m.MartialStatus)</dt>
            <dd class="col-md-2">@Html.DisplayFor(m => m.MartialStatus)</dd>
        </div>
        <div class="row mb-2">
            <dt class="col-md-2">@Html.DisplayNameFor(m => m.DateOfBirth)</dt>
            <dd class="col-md-4">@Html.DisplayFor(m => m.DateOfBirth)</dd>
            <dt class="col-md-2">@Html.DisplayNameFor(m => m.RegistrationDate)</dt>
            <dd class="col-md-2">@Html.DisplayFor(m => m.RegistrationDate)</dd>
        </div>
        <div class="row mb-2">
            <dt class="col-md-2">@Html.DisplayNameFor(m => m.BankAccount.BankAccountType)</dt>
            <dd class="col-md-4">@Html.DisplayFor(m => m.BankAccount.BankAccountType)</dd>
            <dt class="col-md-2">@Html.DisplayNameFor(m => m.BankAccount.Deposit)</dt>
            <dd class="col-md-2">@Html.DisplayFor(m => m.BankAccount.Deposit)</dd>
        </div>
        <div class="row mb-2">
            <dt class="col-md-2">@Html.DisplayNameFor(m => m.BankAccount.IdentificationProofType)</dt>
            <dd class="col-md-4">@Html.DisplayFor(m => m.BankAccount.IdentificationProofType)</dd>
            <dt class="col-md-2">@Html.DisplayNameFor(m => m.BankAccount.IdentificationDocumentNumber)</dt>
            <dd class="col-md-2">@Html.DisplayFor(m => m.BankAccount.IdentificationDocumentNumber)</dd>
        </div>
        <div class="row mb-2">
            <dt class="col-md-2">@Html.DisplayNameFor(m => m.BankAccount.NomineeName)</dt>
            <dd class="col-md-4">@Html.DisplayFor(m => m.BankAccount.NomineeName)</dd>
            <dt class="col-md-2">@Html.DisplayNameFor(m => m.BankAccount.NomineeAccountNumber)</dt>
            <dd class="col-md-2">@Html.DisplayFor(m => m.BankAccount.NomineeAccountNumber)</dd>
        </div>
    </dl>
    <div class="mt-3">
        <a class="btn btn-primary" asp-action="Edit">Edit</a>
    </div>
</div>
